.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

button:focus {
  outline: 0;
}

button {
  border: none;
  font-size: 1em;
  padding: 0;
}

.calculator {
  width: 17em;
  background-color: #fff;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator .screen {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #B7B9BB;
  height: 10em;
  padding: 1em;
}

.row {
  display: flex;
}

.key {
  background-color: #0F1A21;
  display: flex;
  flex: 1;
  height: 4em;
  justify-content: center;
  align-items: center;
}

.keyboard .key {
  color: #fff;
}

.keyboard .clear {
  background-color: #B7B9BB;
  padding: 1em;
  width: 100%;
}

.screen .result {
  text-align: center;
}
