.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

button {
  border: none;
  font-size: 1em;
  padding: 0;
}

button:focus {
  outline: 0;
}

.transparent-background {
  background-color: transparent;
}
